navbar-brand {
    text-align: center;
    size: 40px;
    
}

.Ndkwym {
    text-align: center;
}

.Pdkwym {
    text-align: center;
}

.slog {
    text-align: center;
    font-size: 70%;
}

.ndnv {
    text-align: center;
}

.pdnv {
    text-align: center;
}

.ft {
  
    margin-top: 400px;
}

.imb {
    margin-left: 600px;
}